/Notenrechner/notenrechner-ear/target/
/Notenrechner/notenrechner-web/target/
/Notenrechner/notenrechner-ejb/target/
/notenrechner-ejb/target/
/target/
/notenrechner-web/target/
/notenrechner-ear/target/
